{% extends 'base.html' %}

{% block titulo %}DevSchool - Login{% endblock %}

{% block conteudo %}

<div class="container">
  <h2>DevSchool - Login</h2>
  
  <form method="POST">
    {% csrf_token %}
    
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    
    <button type="submit" 
      class="btn btn-primary">
      Entrar
    </button>
  </form>
  
  <p>Não tem conta? 
    <a href="{% url 'cadastro' %}">
      Cadastre-se
    </a>
  </p>
</div>

{% endblock %}