<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSchool - Sua Escola de Programação</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
    <nav>
        <h2>🐸 DevSchool</h2>
        
        <div>
            <a href="/">Cursos</a>
            <a href="/metodologia">Metodologia</a>
            <a href="/contato">Contato</a>
            <a href="/assinaturas">Nossos Planos</a>
            
            {% if user.is_authenticated %} <span style="margin-left: 15px; font-size: 0.9em; color: #bdc3c7;">
                    Bem vindo, {{ user.username }}
                </span>
            {% else %}
                <a href="{% url 'login' %}">LOGIN</a>
            
            {% endif %}


        </div>
    </nav>
    </header>
    
    <main>
    <div class="container">
        {% block conteudo %}
        {% endblock %}
    </div>
    </main>
    
    <footer>© 2025 DevSchool - Ensinando o Futuro</footer>
</body>
</html>