{% extends 'base.html' %}

{% block titulo %}Fale Conosco - DevSchool{% endblock %}

{% block conteudo %}
    
    <div class="form-wrapper">
        
        <h1 class="text-center mb-30">Fale Conosco</h1>
        
        <div class="alert-warning">
            <strong>⚠️ Atenção:</strong> Este formulário é apenas uma simulação visual (Front-end). <br>
            O envio de dados será implementado nas próximas aulas.
        </div>

        <form>
            
            <div class="form-group">
                <label for="id_nome">Nome:</label>
                <input type="text" id="id_nome" class="form-control" placeholder="Digite seu nome">
            </div>

            <div class="form-group">
                <label for="id_email">E-mail:</label>
                <input type="email" id="id_email" class="form-control" placeholder="seu@email.com">
            </div>

            <div class="form-group">
                <label for="id_mensagem">Mensagem:</label>
                <textarea id="id_mensagem" class="form-control" placeholder="Como podemos te ajudar?"></textarea>
            </div>
            
            <button type="button" class="btn btn-primary" onclick="alert('Formulário Simulado! Nada foi enviado.')">
                Enviar Mensagem
            </button>

        </form>
    </div>

{% endblock %}